<!-- Message d'accueil -->
  <div class="mt-8 rounded-lg text-center">
    <div class="mt-4 p-6 text-center">
      <div class="bg-gradient-to-r from-[#010e7c] to-[#3949ab] pt-2 rounded-full px-4 pb-2">
        <span class="text-5xl text-white font-bold">{{ time }}</span>
        <p class="text-white mt-1 text-lg">{{ date }}</p>
        <!-- Météo -->
        <div *ngIf="weather" class="mt-2 flex items-center justify-center">
          <img [src]="weatherIcon" alt="Weather icon" class="w-10 h-10">
          <span class="text-white text-xl font-semibold ml-2">{{ temperature }}°C</span>
           @if(weather){
            <span class="text-white text-sm ml-2">{{ weather.weather[0].description }}</span>
           }
        </div>
      </div>
    </div>
    <p class="mt-2 text-2xl font-bold bg-gradient-to-r from-[#010e7c] to-[#3949ab] text-transparent bg-clip-text drop-shadow-lg">
      Bienvenue <br> {{user.nomAgent}} {{user.prenomAgent}}
    </p>

    <!-- Affichage de l'équipage en dropdown -->
    @if (equipageService.getEquipage()) {
      <div class="mt-4 relative inline-block w-[80%]">
        <div class="w-full p-3 bg-white rounded-lg shadow-md flex justify-between items-center">
          <span class="text-[#010e7c] font-semibold">Équipage({{equipageService.getEquipage()?.length}} agents)</span>
          <div class="flex items-center space-x-2">
            <button (click)="equipageService.clearEquipage()" class="text-red-600 hover:text-red-800 transition-colors duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
            <button (click)="isDropdownOpen = !isDropdownOpen" class="text-gray-500 hover:text-gray-700 transition-colors duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          </div>
        </div>
        @if (isDropdownOpen) {
          <div class="absolute z-10 w-full mt-2 bg-white rounded-lg shadow-lg">
            <div class="p-2">
              @for (agent of equipageService.getEquipage(); track agent.matricule) {
                <div class="py-2 px-3 hover:bg-gray-50 rounded transition-colors duration-200">
                  <span class="text-gray-700">{{agent.matricule}} - {{agent.nomAgent}} {{agent.prenomAgent}}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>

  <!-- Heure & Date -->

  <div class="mt-16 flex flex-col items-center">
    <!-- Boutons d'actions -->
    <div class="mt-4 space-y-3 w-full flex flex-col items-center">
      
      @if(!equipageService.getEquipage()){
      <button routerLink="/createEquip" class="w-[80%] py-3 bg-gradient-to-r from-[#010e7c] to-[#3949ab] text-white rounded-lg shadow-md text-lg font-semibold hover:from-[#000c6d] hover:to-[#303f9f] transition-all duration-300">
        Créer un Équipage
      </button>
    }
      @if(equipageService.getEquipage()){
        <button routerLink="/missions" class="w-[80%] py-3 bg-gradient-to-r from-[#0056b3] to-[#00bcd4] text-white rounded-lg shadow-md text-lg font-semibold hover:from-[#004ba0] hover:to-[#00acc1] transition-all duration-300">
          Mission
        </button>
        <button routerLink="/interventions" class="w-[80%] py-3 bg-gradient-to-r from-[#5e35b1] to-[#7b1fa2] text-white rounded-lg shadow-md text-lg font-semibold hover:from-[#512da8] hover:to-[#6a1b9a] transition-all duration-300">
          Intervention
        </button>
      }
      @if(authService.isAdmin()){
        <button class="w-[80%] py-3 bg-gradient-to-r from-[#303f9f] to-[#1976d2] text-white rounded-lg shadow-md text-lg font-semibold hover:from-[#283593] hover:to-[#1565c0] transition-all duration-300">
          Statistiques
        </button>
      }
    </div>
  </div>